/* HEADER */

#header {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;

    text-align: center;
    text-shadow: 5px 7px 10px rgba(0,0,0,.3);
    color: white;
}

#header #arw {
    height: 60px;
    width: 60px;
    margin: 10px;

    fill: white;
}

#header #bg {
    position: absolute;
    height: 100vh;
    width: 100vw;

    object-fit: cover;
    z-index: -1;

    filter: blur(2px) brightness(60%);
}


/* CONTENT */

.section p {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    color: var(--text-gray);
}

#what {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 100px 25vw;
}

#what h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: var(--light-blue);
}

#what .section-content {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#what img {
    height: 30vh;
}

#what p {
    text-align: right;
}

#events {
    background-color: var(--dark-blue);
}

#join {

}


/* FOOTER */

#connect {
    height: 37.5vh;
    background-color: var(--gray);
}