@import "colors.css";
@import "navbar.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
}

.section {
    width: 100vw;
    height: 75vh;

    text-shadow: 5px 7px 10px rgba(0,0,0,.2);
}